<div class="grid">
    <div class="grid__row app__content">
        <div class="grid__column-2 myInfo-nav-info">
            <h3>olegion2001</h3>
            <div>
                <a href=>Sửa hồ sơ</a>
            </div>
            <div>
                <a href="">Tài khoản của tôi</a>   
            </div>
            <div>
                <a href="/me/change_password_site">Đổi mật khẩu</a>   
            </div>
            <div>
                <a href="/me/order">Đơn mua</a>   
            </div>
        </div>
        
        <div class="grid__column-10">
            {{#with product}}
            <form action="/me/delete/product/{{productCode}}?_method=DELETE" class="deleteProductForm" method="POST">
                <button class="btn btn--primary btn-delete-product">Xóa sản phẩm</button>
            </form>
            <form class="formSell product-save-form" action="/me/edit/{{productCode}}?_method=PATCH" method="POST">
                <div class="form-group">
                    <label for="productName" class="col-sm-2 myInfo__change-info-label">Mã sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="text" class="myInfo__change-info-input" disabled name="productCode" value="{{productCode}}">
                    </div>
                <div class="form-group">
                    <label for="productName" class="col-sm-2 myInfo__change-info-label">Tên sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="text" class="myInfo__change-info-input" name="productName" value="{{productName}}">
                    </div>
                
                <div class="form-group">
                    <label class="col-sm-2 myInfo__change-info-label">Chọn dòng sản phẩm</label>
                    <div class="col-sm-10">
                        <select class="post-product-productline" name="productline" required>
                            <option selected value="Áo">Áo</option>
                            <option value="Điện Thoại">Điện thoại</option>
                            <option value="Đồng Hồ">Đồng hồ</option>
                            <option value="Giầy, dép">Giầy, dép</option>
                            <option value="Mũ">Mũ</option>
                            <option value="Phụ Kiện">Phụ kiện</option>
                            <option value="Quần">Quần</option>
                            <option value="Túi Xách">Túi xách</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="quantityInStock" class="col-sm-2 myInfo__change-info-label">Số lượng hiện có</label>
                    <div class="col-sm-10">
                        <input type="number" class="myInfo__change-info-input" name="quantityInStock" value="{{quantityInStock}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="buyPrice" class="col-sm-2 myInfo__change-info-label">Giá bán</label>
                    <div class="col-sm-10">
                        <input type="number" class="myInfo__change-info-input" name="buyPrice" value="{{buyPrice}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-sm-2 myInfo__change-info-label">Ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="myInfo__change-info-input" name="image" value="{{image}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="origin" class="col-sm-2 myInfo__change-info-label">Xuất xứ</label>
                    <div class="col-sm-10">
                        <input type="text" class="myInfo__change-info-input" name="origin" value="{{origin}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="discount" class="col-sm-2 myInfo__change-info-label">Giảm giá</label>
                    <div class="col-sm-10">
                        <input type="text" class="myInfo__change-info-input" name="discount" value="{{discount}}">
                    </div>
                </div>
                <button type="submit" class="btn btn--primary">Lưu</button>
            </form>
            {{/with}}
        </div>
    </div>
</div>



